@model Customer
@{
	ViewData["Title"] = "Information customer";
}


<table class="table">
	<thead>
		<th>Informations :</th>
		<th></th>
	</thead>
	<tbody>
		<tr>
			<th>Lastname</th><td>@Model.Lastname</td>
		</tr>
		<tr><th>Firstame</th><td>@Model.Firstname</td></tr>
		
		<tr><th>Email</th><td>@Model.Mail</td></tr>
		<tr><th>Phone Number</th><td>@Model.PhoneNumber</td></tr>
		<tr><th>Budget</th><td>@Model.Budget €</td></tr>
	</tbody>
</table>
    <div>
        <a class="btn btn-primary" asp-controller="Customer" asp-action="Edit" asp-route-id="@Model.IdCustomer">Modifier</a>
		<a class="btn btn-danger" asp-controller="Customer" asp-action="Remove" asp-route-id="@Model.IdCustomer">Supprimer</a><
        <a class="btn btn-primary" asp-controller="Customer" asp-action="Index">Retour</a>
    </div>
